<!DOCTYPE HTML>
<html xmlns:th = "http://www.thymeleaf.org">
<title>공연 정보 조회</title>
<link th:href = "@{/css/styles.css}" rel = "stylesheet"/>
<link th:href = "@{/css/error.css}" rel = "stylesheet"/>
<head>
    <meta charset = "utf-8"/>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge"/>
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name = "description" content = ""/>
    <meta name = "author" content = ""/>
</head>

<link href = "https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel = "stylesheet"/>
<script src = "https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin = "anonymous"></script>
<style>
   table {
    width: 100%;
    border-top: 3px solid #999999;
    border-bottom: 3px solid #999999;
    border-collapse: collapse;
  }
  th, td {
     text-align:center;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    padding: 10px;
  }
  th:first-child, td:first-child {
    border-left: none;
  }


</style>
<script src = "https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script th:inline = "javascript">
    /*<![CDATA[*/
        let openWin;
        function openChild(id){
            window.name="parentForm";
             let width = 1000;
             let height = 800;
            let popupX = (window.screen.width / 2) - (width / 2);
            let popupY= (window.screen.height / 2) - (height / 2);
            let url ="/concert/detailView/img?mt20id="+id;
             openWin = window.open(url, "childForm", "width=1000, height=800, resizable = no, scrollbars = no, left="+popupX+',top='+popupY);
            }

        function onClick(){
                document.getElementById('stDate').addEventListener('change',function(){
                let stDate = document.getElementById('stDate');
               document.getElementById('edDate').value = stDate.value;
               })};
    /*]]>*/


</script>
<script src = "https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin = "anonymous"></script>

</head>

<body class = "bg-primary">

<div id = "layoutAuthentication">
    <div id = "layoutAuthentication_content">

        <main>
            <div id = "layoutSidenav_content">

                <div class = "container-fluid px-4">
                    <h1 class = "mt-4"></h1>
                    <div class = "card mb-4">
                        <div class = "card-header">
                            <i class = "fas fa-table me-1"></i>
                            공연 정보 조회
                        </div>
                        <div>
                         <span th:if = "${session.LOGIN_SESSION!=null}">
                           <span>[<span th:text = "${session.LOGIN_SESSION}"></span>]님 환영합니다.</span>
                         </span>
                          <span th:if = "${session.LOGIN_SESSION==null}">
                            <span>[GUEST]님 환영합니다.</span>
                          </span>
                         </div>
                        <div id = "dtoSearch">

                            <form th:object = "${concertSearchInfoDTO}"
                                  class = "d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                                <div class = "input-group">
                                    <input type = "date" class = "form-control" th:field = "*{stDate}"
                                           th:onclick = "onClick()"/>
                                    <input type = "date" class = "form-control" id = "edDate" th:field = "*{edDate}"
                                           placeholder = "조회 순번"/>
                                    <input type = "text" class = "form-control" id = "cpage" th:field = "*{cpage}"/>
                                    <select th:field = "*{signgucode}" class = "form-control">
                                        <option value = "">지역선택</option>
                                        <option th:each = "signgucode : ${signgucode}"
                                                th:value = "${signgucode.getValue()}"
                                                th:text = "${signgucode.getKey()}">OPT
                                        </option>
                                    </select>
                                    <button type = "submit" class = "btn btn-primary" id = "btnNavbarSearch"><i
                                            class = "fas fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class = "card-body">
                                 <span id = "dataIsNotNull" th:if = "${concertDataList.size()>0}">

                                <table id = "datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>no</th>
                                            <th>제목</th>
                                            <th>기간</th>
                                            <th>위치</th>
                                            <!--                                            <th>장르</th>-->
                                            <th>공연완료</th>
                                            <th>상세정보</th>
                                            <th>오픈런</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                    </tfoot>
                                    <tbody>
                                           <div th:if = "${concertDataList.size()>0}">
                                            <tr th:each = "concertData,i :${concertDataList}">
                                                <td th:text = "${i.count}"></td>
                                                <td th:text = "${concertData.prfnm}"></td>
                                                <td th:text = "${concertData.prfpdfrom} +'~'+ ${concertData.prfpdto}"></td>
                                                <td th:text = "${concertData.fcltynm}"></td>
                                                <td th:text = "${concertData.prfstate}"></td>
                                                <td> <a th:onclick = "openChild([[${concertData.mt20id}]])"
                                                        style = "cursor:pointer; text-decoration: underline;">클릭</a></td>
                                                <td>
                                                    <span th:if = "${concertData.openrun.equals('Y')}">O</span>
                                                    <span th:if = "${concertData.openrun.equals('N')}">X</span>
                                                </td>
                                            </tr>
                                           </div>
                                      </span>
                            <div id = "dataIsNull" th:if = "${concertDataList.size()<1}">
                                <h2>데이터가 존재하지 않습니다.</h2>
                            </div>
                            </table>
                            <br>
                            <button type = "button" class = "btn btn-primary mb-2"
                                    th:onclick = "'location.href=\'' + @{/concert/place} + '\''">공연장 정보
                            </button>
        </main>
    </div>
</div>
<footer class = "py-4 bg-light mt-auto">
    <div class = "container-fluid px-4">
        <div class = "d-flex align-items-center justify-content-between small">
            <div class = "text-muted">Copyright &copy; HaneulKo 2023</div>
            <div>
                <a href = "/detailView">Home</a>
                <!--                <a href="#">Terms &amp; Conditions</a>-->
            </div>
        </div>
    </div>
</footer>

</div>
</div>

</div>
</body>
</html>