<!DOCTYPE HTML>
<html xmlns:th = "http://www.thymeleaf.org">
<title>공연 장소 조회</title>
<link th:href = "@{/css/styles.css}" rel = "stylesheet"/>
<link th:href = "@{/css/error.css}" rel = "stylesheet"/>
<link th:href = "@{/css/menu.css}" rel = "stylesheet"/>
<link th:href = "@{/css/cpageBtn.css}" rel = "stylesheet"/>
<script type="text/javascript" th:src="@{/js/cpageBtn.js}"></script>

<head>
    <meta charset = "utf-8"/>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge"/>
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name = "description" content = ""/>
    <meta name = "author" content = ""/>
    <title>Register - SB Admin</title>
    <link href = "https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel = "stylesheet"/>
</head>
<script src = "https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:inline = "javascript">
      /*<![CDATA[*/
      $(document).ready(function () {
                $("#menuHeaders").load("/menuBar", function () {
                    document.getElementById("menuHeaders").classList.add("show");
                });
            })

      $(document).ready(function(){
        $("#myC").change(function(){
            if($("#myC").is(":checked")){
            location.href="/concert/like/detailView";
            }else{
            location.href="/concert/detailView";
            }
    });
    });

               function cpageSetting(){
               let checkedValue = document.getElementById("cpageSetting").checked;
               let cpageBtn = document.getElementsByClassName("cpageBtn");
               let dto=document.getElementById('concertPlaceSearchDTO');
               let cpage= document.getElementById('cpage');
               if(checkedValue==true){
                     dto.style.width="600px";
                    cpage.type="text";
                    cpageBtn[0].type="image";
                    cpageBtn[1].type="image";
               }
               else{
                 dto.style.width="500px";
                 cpage.type="hidden";
                 cpageBtn[0].type="hidden";
                 cpageBtn[1].type="hidden";
                  }
             };
        function rowsSizeSetting(){
               let checkedValue = document.getElementById("rowsSizeSetting").checked;
               let rows=document.getElementById('rows');
               let dto=document.getElementById('concertPlaceSearchDTO');
                if(checkedValue==true){
                  dto.style.width="600px";
                     rows.type="text";
               }
               else{
                   dto.style.width="500px";
                   rows.type="hidden";
                  }
             };



      /*]]>*/
    </script>
    <script src = "https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin = "anonymous"></script>
    <style>

   table {
    width: 100%;
    border-top: 3px solid #999999;
    border-bottom: 3px solid #999999;
    border-collapse: collapse;
  }
  th, td {
     text-align:center;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    padding: 10px;
  }
  th:first-child, td:first-child {
    border-left: none;
  }

    </style>
    <script src = "https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src = "https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin = "anonymous"></script>

</head>

<body class = "bg-primary">

<div id = "layoutAuthentication">
    <div id = "layoutAuthentication_content">
        <div id="menuHeaders"></div>
        <main>
            <div id = "layoutSidenav_content">
                <div class = "container-fluid px-4">
                    <h1 class = "mt-4"></h1>
                    <div class = "card mb-4">
                        <div class = "card-header">
                            <i class = "fas fa-table me-1"></i>
                            공연 장소 조회
                        </div>
                        <br>
                        <div id = "dtoSearch">
                            <div>
                                <input type="checkbox" id="rowsSizeSetting" name="rowsSizeSetting"  th:onclick="rowsSizeSetting();">
                                <label for="rowsSizeSetting">화면에 보여지는 갯수</label>
                                <input type="checkbox" id="cpageSetting" name="cpageSetting"  th:onclick="cpageSetting();">
                                <label for="cpageSetting">페이지 설정</label>
                            </div>
                            <form th:object = "${concertPlaceSearchDTO}"
                                  class = "d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" style="width:500px;" id="concertPlaceSearchDTO">
                                <div class = "input-group">
                                    <select th:field = "*{signgucode}" class = "form-control">
                                        <option value = "" style="text-align:center;">지역선택(클릭)</option>
                                        <option th:each = "signgucode : ${signgucode}"
                                                th:value = "${signgucode.getValue()}"
                                                th:text = "${signgucode.getKey()}" style="text-align:center;">OPT
                                        </option>
                                    </select>
                                    <span th:if = "${session.MEMBER_ID_SESSION!=null}">
                                        <button type = "button" class = "btn btn-primary mb-2"
                                                th:onclick = "'location.href=\'' + @{/member/logOut} + '\''">로그아웃</button>
                                         <input type="checkbox" id="myConcert" name="scales" th:onclick="'location.href=\'' + @{/concert/like/detailView} + '\''">
                                         <label for="myConcert">좋아요 목록만 보기</label>
                                     </span>
                                    <input type = "hidden" class = "form-control" placeholder = "화면에 출력되는 갯수" id = "rows"
                                           th:field = "*{rows}"/>
                                    <input type = "text" class = "form-control" placeholder = "조회장소" id = "shprfnmfct"
                                           th:field = "*{shprfnmfct}"/>
                                    <input type = "hidden" class = "form-control" placeholder = "페이지 조회" id = "cpage"
                                           th:field = "*{cpage}"/>
                                    <input type = "hidden" src = "/image/plus.jpg" th:class="cpageBtn" width="10px"  style = "right: 73px;" th:onclick="plusCpage();">
                                    <input type = "hidden" src = "/image/minus.jpg" th:class="cpageBtn" width="10px" style = "right: 43px;" th:onclick="downCpage();">
                                    <button type = "submit" class = "btn btn-primary" id = "btnNavbarSearch"><i
                                            class = "fas fa-search"></i></button>
                                </div>
                            </form>

                            <div class = "card-body">
                                <table id = "datatablesSimple">
                                    <thead>
                                    <tr>
                                        <th>no</th>
                                        <th class = "fcltychartr">분류</th>
                                        <th class = "sidonm">지역(시도)</th>
                                        <th class = "fcltynm">시설명</th>
                                        <th class = "mt13cnt">공연장 수</th>
                                        <th class = "gugunnm">지역(구군)</th>
                                        <th class = "opende">개관연도</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div th:if = "${concertPlaceList.size()>0}">
                                        <tr th:each = "concertPlaceList,i :${concertPlaceList}">
                                            <td th:text = "${i.count}"></td>
                                            <td class = "fcltychartr" th:text = "${concertPlaceList.fcltychartr}"></td>
                                            <td class = "sidonm" th:text = "${concertPlaceList.sidonm}"></td>
                                            <td class = "fcltynm" th:text = "${concertPlaceList.fcltynm}"></td>
                                            <td class = "mt13cnt" th:text = "${concertPlaceList.mt13cnt}"></td>
                                            <td class = "gugunnm" th:text = "${concertPlaceList.gugunnm}"></td>
                                            <td class = "opende" th:text = "${concertPlaceList.opende}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id = "dataIsNull" th:if = "${concertPlaceList.size()<1}">
                                <h2 style = "text-align:center;">데이터가 존재하지 않습니다.</h2>
                            </div>
<!--                            <button type = "button" class = "btn btn-primary mb-2" style = "width:10%;"-->
<!--                                    th:onclick = "'location.href=\'' + @{/concert/detailView} + '\''">공연 정보-->
<!--                            </button>-->
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class = "py-4 bg-light mt-auto">
    <div class = "container-fluid px-4">
        <div class = "d-flex align-items-center justify-content-between small">
            <div class = "text-muted">Copyright &copy; HaneulKo 2023</div>
            <div>
                <a href = "/detailView">Home</a>
                <!--                <a href="#">Terms &amp; Conditions</a>-->
            </div>
        </div>
    </div>
</footer>

</div>
</body>
</html>