 .collapsible {
          background-color: black;
          color: white;
          cursor: pointer;
          padding: 18px 30px;
          text-align: left;
          border: none;
          outline: none;
          font-size: 15px;
          width:200px;
 }
#mainCollaps{
          background-color: black;
          font-size:14px;
          display:inline-block;
          width:50px;
          height:50px;
          padding:15px 0;
          text-align:center;
          border-radius:100%;
 }
 .contentLink{
         background-color: #FFFFF0;
         font-size:15px;
          width:200px;
 }
 #mainCollaps:hover{
          background-color: #00CED1;
 }
 .active, .collapsible:hover{
          background-color: #555;
 }
 .content {
          display: none;
          overflow: hidden;
        }
 button{
            display:block;
        }
 a{
            margin-left:20px; color:black;
            text-decoration:none;
             margin:auto;}
 a:hover{
            background-color: #DCDCDC;
            border-radius:30px;        }
 .contentLinkA{
            height:40px;
            margin-left:35px;
            padding: 10px;
            text-align: left;
 }
