<!DOCTYPE HTML>
<html xmlns:th = "http://www.thymeleaf.org">
<title>조회</title>
<head>
    <meta charset = "utf-8"/>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge"/>
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name = "description" content = ""/>
    <meta name = "author" content = ""/>
    <title>Register - SB Admin</title>
    <link href = "https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel = "stylesheet"/>
    <link href = "css/styles.css" rel = "stylesheet"/>
    <link href = "css/menu.css" rel = "stylesheet"/>
    <link rel="import" href="header.html">
    <script src = "https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin = "anonymous"></script>
</head>
<body>
<button type="button" th:class="collapsible" id="mainCollaps">+</button>
<div class="content">
    <button type="button" th:class="collapsible" >콘서트정보</button>
    <div class="content">
        <div class="contentLink">
            <div class="contentLinkA">
                 <a th:href="@{concert/detailView/title}">제목별 공연조회</a>
            </div>
        </div>
        <div class="contentLink">
            <div class="contentLinkA">
                 <a th:href="@{concert/detailView}">일자별 공연조회</a>
            </div>
        </div>
    </div>
    <span th:if = "${session.LOGIN_ID_SESSION!=null}">
        <button type="button" th:class="collapsible">내 정보</button>
        <div class="content">
            <div class="contentLink">
                 <div class="contentLinkA">
                    <a th:href="@{concert/like/detailView}">좋아요 목록</a>
                </div>
            <div class="contentLink">
                  <div class="contentLinkA">
                    <a th:href="@{member/info/{memberId}(memberId=${session.LOGIN_PK_ID_SESSION})}">내 정보</a>
                  </div>
            </div>
        </div>
    </span>
</div>

    <script th:inline = "javascript">
    /*<![CDATA[*/
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
    /*]]>*/
</script>


</body>
</html>
